<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" asp-href-include="~/lib/font-awesome/css/*.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/select2-bootstrap-theme/select2-bootstrap.min.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="~/lib/jstree/themes/proton/style.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-confirm/jquery-confirm.min.css" />
    <script type="text/javascript" src="~/lib/jstree/jstree.min.js"></script>
    <script type="text/javascript" src="~/lib//jquery-confirm/jquery-confirm.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
            $('.js-example-basic-multiple').select2();
            $("#dropdown").select2({
                theme: "bootstrap"
            });          
        });        
       
    </script>
    @RenderSection("head", false)
    <title>Request Access</title>
</head>
<body>
    <partial name="_Navbar" />
    
    <div class="m-1 p-1">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        @RenderBody()
    </div>
</body>
</html>
