@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<ul>
    <li><a asp-action="List" asp-controller="Request">Request/List</a></li>
    <li><a asp-action="List" asp-controller="Resource">Resource/List</a></li>
    <li><a asp-action="Index" asp-controller="ResourceCategory">ResourceCategory/Index</a></li>
    <li><a asp-action="List" asp-controller="Employee">Employee/List</a></li>
    <li><a asp-action="PopulateEmployees" asp-controller="Admin">PopulateEmployees</a></li>
    <li><a asp-action="Test" asp-controller="Request">Request/Test</a></li>
</ul>
